name: Demo GiHub Actions
on:
  push:
    branches:
      - main
env:
  DAYOFWEEK: Monday
 
jobs:
  job01:
    runs-on: ubuntu-latest
    env:
      ZIPFNAME: myoutput.zip
      BRANCHNAME: temp
    steps:
      - name: Print out vars
        run: |
          echo "This workflow was triggered by ${{ github.event_name }} event"
          echo "This workflow was initiated by ${{ github. actor }}"
          echo "This job is running on ${{ runner.os }}"
          echo "The jobs status is ${{ job.status }}"
          echo "Today is ${{ env.DAYOFWEEK }}"
          echo "Zipname: $ZIPFNAME"
      - name: Checkout GitHub Repo
        uses: actions/checkout@v2
      - name: Print out info on workspace
        run: |
          echo "The repository has been cloned to the runner in ${{ github.workspace }}"
          ls -a ${{ github.workspace }}
      - name: Install ZIP
        uses: montudor/action-zip@v1
      - name: ZIP output
        run: |
          mkdir output
          cp README.md f01.txt output
          zip -qq -r $ZIPFNAME output
          ls -a ${{ github.workspace }}
      - name: Output on $BRANCHNAME branch
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "Github Action"
          git checkout --orphan $BRANCHNAME
          git reset --hard
          git add $ZIPFNAME
          git commit -am "Add ZIP file"
          git push origin $BRANCHNAME
